<!DOCTYPE html>
<html>
<head>
    <title>Loan Approval Prediction</title>
</head>
<body>

    <h2>Loan Approval Prediction System</h2>

    <form action="/predict" method="post">

        Gender (0=Female, 1=Male): <br>
        <input type="text" name="Gender" required><br><br>

        Married (0=No, 1=Yes): <br>
        <input type="text" name="Married" required><br><br>

        Applicant Income: <br>
        <input type="text" name="ApplicantIncome" required><br><br>

        Loan Amount: <br>
        <input type="text" name="LoanAmount" required><br><br>

        Credit History (0 or 1): <br>
        <input type="text" name="Credit_History" required><br><br>

        <button type="submit">Predict</button>

    </form>

    <h3>{{ prediction_text }}</h3>

</body>
</html>
